.section-1 {
    
    background: #2F303A ;
}
.h1h1 {
color: #FFFFFF;
}
.a-1 {
    background: #2196F3;
    color: #FFFFFF;
}
.a-meni {
    color: #212121;
}
.tele {
    color: #757575;
}
.miste {
    color: #FFFFFF ;
}
.tele-niz {
    color: #FFFFFF;
}
p {
    color: #757575;
}